<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/ni.png">

    <link rel="stylesheet" href="./css/styles.css">

    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created by {{name}}</p>
        <img class="portrait" src="./img/uzvisenibog.jpg" alt="Elon is that u?">
    </div>

    {{>footer}}
</body>

</html>